@page
@model QwikThrift.Pages.Browse.BrowseModel
@{
    ViewData["Title"] = "Browse Listings";
}

<div class="row">
    <h1 class="col-6">Browse Listings</h1>
</div>

<div class="row">
    <div class="col-md-8 data-view">
        <div class="container-fluid">
            @if (Model.Listings != null && Model.Listings.Any())
            {
                    <div class="d-flex flex-grow-1 align-content-center flex-wrap listing">

                @foreach (var listing in Model.Listings)
                    {
                        <a class=" btn btn-primary m-2 mx-auto" asp-page="/Browse/Details" asp-route-id="@listing.ListingId">
                            <div class="form-group">
                                <img class="col-12 rounded-3" height="200px" src="@(listing.Images.Count > 0 ? listing.Images[0].FullPath : "")" alt="Listing Image" />
                            </div>

                            <div class="">
                                <p>
                                    <span class="fw-bold">@listing.Title</span>
                                    <br />
                                    @listing.Price.ToString("C")
                                </p>

                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <p>No listings to show..</p>
            }
        </div>
    </div>

    <div class="col-md-4">
        <form method="get">
            <p class="text-white">
                <input type="submit" value="Filter My Listings" class="btn btn-primary col-12" />
                <hr />

                Title: <input type="text" asp-for="SearchString" class="col-8 m-2 p-2" />
                <br />
                Sort By:
                <select asp-for="ItemCategory" asp-items="Model.Categories" class="col-7 m-2 p-2">
                    <option value="">All</option>
                </select>
                <br />
                <hr />
                <button type="submit" name="SortOrder" value="ListingTimeAsc" class="btn btn-primary">Sort By Listing Time (Asc)</button>
                <button type="submit" name="SortOrder" value="ListingTimeDesc" class="btn btn-primary">Sort By Listing Time (Desc)</button>
                <hr />

            </p>

            <button class="btn btn-primary">
                <a class="text-white" asp-area="" asp-page="/Category/Create">Create a Category</a>
            </button>
        </form>
    </div>
</div>