/*THEME COLORS:
    QWIK BLUE: #0097b2
    QWIK GREY: #272727
    QWIK LIGHT GREY: #555555
*/
/*LARGE-SPANNING ELEMENT HANDLING*/
:root{
    --bs-body-bg:#555555;
    color:white
}
html {
    font-size: 14px;
    background-color: #555555;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
h1{
    color:white;
}
body {
    margin-bottom: 60px;
    background-color: #555555;
}
.center{
    margin-left:auto !important;
    margin-right:auto !important;
}
a{
    color:black;
}

/*DATA VIEW CLASSES*/
.data-view {
    background-color: #272727;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* BUTTONS */
.btn, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0097b2;
    color:white !important;
    font-weight: 600 ;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset ;
}
/*NAVIGATION CLASSES*/
/* Style for navigation bar */
.nav-qwik {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background-color: #272727;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}
.navbar .navbar-brand {
    font-size: 20px;
}
.nav-ul {
    width: 100%;
    font-weight: 700;
    background-color: #0097b2;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
nav-item{
    color:black;
}
.logo {
    margin-right: auto; /* Push the logo to the left */

}
.border-right{
    border-right:4px #000000;
}
/* Style for the navigation links */

/*.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}*/