@page
@model EditModel
@{
    ViewData["Title"] = "Edit Listing";
}

<h1>Edit Listing:</h1>

<h4>Listing:</h4>

<div class="row">
    <div class="col-md-6 data-view">
        <form method="post">
            @Html.AntiForgeryToken() 

            <div class="form-group">
                <label>Image:</label>
            </div>
            <div class="form-group">
                <label>Price:</label>
            </div>
            <div class="form-group">
                <label>Title:</label>
            </div>
            <div class="form-group">
                <label>Category:</label>
            </div>
            <div class="form-group">
                <label>Decription:</label>
            </div>
            <div style="text-align:center;">
            <button style="margin-left:auto;margin-right:auto;" type="reset" class="btn btn-primary text-white">Reset</button>
            <button type="submit" class="btn btn-primary text-white">Finish Editing</button>
            </div>
        </form>

    </div>
    <div class="col-md-4 order-1" style="text-align:left;padding:10px;">
        <button class="btn btn-primary">
            <a class="text-white" asp-area="" asp-page="/MyListings/Index">Back to My Listings</a>
        </button>
    </div>
</div>