@page
@model QwikThrift.Pages.AccessDeniedModel
@{
}
<h1>Access Denied!</h1>
<h2>
    You have attempted to access a restricted resource without authorization 
    <a asp-page="/Index">Click Here</a> to return to the homepage.
</h2>