@page
@model QwikThrift.Pages.Messages.ViewModel
@{
}
<div class="row">
    <label asp-for="Message.Subject" class="col-xxl-1 text-white text-xxl-end text-uppercase fw-bolder"></label>
    <input asp-for="Message.Subject" class="col-xxl-9" readonly />
</div>
<div class="row my-2">
    <label asp-for="Message.Sender.Username" class="col-xxl-1 text-white text-xxl-end text-uppercase fw-bolder"></label>
    <input asp-for="Message.Sender.Username" class="col-xxl-9" readonly />
</div>
<div class="row my-2">
    <div class="col-xxl-1 text-white text-xxl-end text-uppercase fw-bolder"></div>
    <textarea asp-for="Message.Body" class="col-xxl-9" style="min-height:200px" readonly></textarea>
</div>
<div class="row">
    <div class="col-xxl-1"></div>
    <div class="col-xxl-9 d-flex flex-row justify-content-center">
        <a class="btn btn-primary" asp-page="/Messages/Index" asp-route-mode="@Model.ReturnMode">Return to @Model.ReturnMode</a>
    </div>
</div>
