@page
@model QwikThrift.Pages.Scott.DeleteModel
@{
}
<h1>My Listings</h1>
<div class="row">
    <div class="col-md-8 data-view">

        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Image:</label>
            </div>
            <div class="form-group">
                <label>Title:</label>
            </div>
            <div class="form-group">
                <label>Price:</label>
            </div>
            <div class="form-group">
                <label>Category:</label>
            </div>
            <div class="form-group">
                <label>Decription:</label>
            </div>
            <div class="text-center">
            <h4>Are you sure you want to delete this record?</h4>
            <button class="btn btn-primary">Yes</button>
            <button class="btn btn-primary">No</button>
            </div>
        </form>

    </div>
    <div class="col-md-4 order-1">
        <button class="btn btn-primary">
            <a class="text-dark" asp-area="" asp-page="/Scott/Index">Back to My Listings</a>
        </button>
    </div>
</div>