<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QwikThrift</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QwikThrift.styles.css" asp-append-version="true" />
    @RenderSection("AppendToHead", false)
</head>
<body>
    <header>
        <nav class="navbar nav-qwik navbar-brand  navbar-expand-md navbar navbar-toggleable-md navbar-light navbar-text mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <div class="text-center">
                    <img src="/images/qwik.svg" alt="Qwik Thirft Logo" class="text-center" width="200" height="200">
                </div>
            </a>

            <div class="container">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav-ul flex-grow-1">

                        <li class=" nav-item ">
                            <a class="nav-link text-white fs-3" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white fs-3" asp-area="" asp-page="/MyListings/Index">My Listings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white fs-3" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QwikThrift - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>